{% extends 'base.html.twig' %}

{% block title %}Parc{% endblock %}

{% block body %}
    <h1>Parc</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ park.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ park.name }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ park.country }}</td>
            </tr>
            <tr>
                <th>Année d'ouverture</th>
                <td>{{ park.openingYear }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_park_index') }}" class="btn btn-outline btn-sm">Retour à la liste</a>

    <a href="{{ path('app_park_edit', {'id': park.id}) }}" class="btn btn-accent btn-sm">Modifier</a>

    {{ include('park/_delete_form.html.twig') }}
{% endblock %}
